<a href="https://colab.research.google.com/github/elichen/aoc2021/blob/main/Day_4_Giant_Squid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
input = '''7,4,9,5,11,17,23,2,0,14,21,24,10,16,13,6,15,25,12,22,18,20,8,19,3,26,1

22 13 17 11  0
 8  2 23  4 24
21  9 14 16  7
 6 10  3 18  5
 1 12 20 15 19

 3 15  0  2 22
 9 18 13 17  5
19  8  7 25 23
20 11 10 24  4
14 21 16 12  6

14 21 17 24  4
10 16 15  9 19
18  8 23 26 20
22 11 13  6  5
 2  0 12  3  7'''
input = input.split('\n')

In [ ]:
input = open("input.txt").readlines()
input = [x.rstrip() for x in input]

In [ ]:
draws = input[0].split(',')
input = input[2:]

In [ ]:
import re
import numpy as np

In [ ]:
boards = []
while len(input):
  b = []
  for i in range(5):
    b.append(input[i].split())
  boards.append(np.array(b))
  input = input[6:]

In [ ]:
def check(match):
  for x in np.sum(match,axis=0):
    if x == 5: return True
  for x in np.sum(match,axis=1):
    if x == 5: return True
  return False

In [ ]:
matches

array([[[0., 1., 1., 1., 1.],
        [0., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [0., 1., 0., 0., 1.],
        [0., 0., 0., 0., 0.]],

       [[0., 0., 1., 1., 0.],
        [1., 0., 1., 1., 1.],
        [0., 0., 1., 0., 1.],
        [0., 1., 1., 1., 1.],
        [1., 1., 1., 0., 0.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 0., 1., 0.],
        [0., 0., 1., 0., 0.],
        [0., 1., 0., 0., 1.],
        [1., 1., 0., 0., 1.]]])

In [ ]:
matches = np.zeros((len(boards),5,5))
def run():
  for draw in draws:
    for b,m in zip(boards,matches):
      ml = np.argwhere(b == draw)
      if len(ml):
        m[tuple(ml[0])] = 1
      if check(m):
        return sum(list(map(int,b[tuple(np.argwhere(m == 0).T)]))) * int(draw)
run()

11536

In [ ]:
matches = np.zeros((len(boards),5,5))
def run():
  wins = set()
  for draw in draws:
    for i in range(len(boards)):
      b,m = boards[i], matches[i]
      ml = np.argwhere(b == draw)
      if len(ml):
        m[tuple(ml[0])] = 1
      if check(m):
        wins.add(i)
        if len(wins) == len(boards):
          return sum(list(map(int,b[tuple(np.argwhere(m == 0).T)]))) * int(draw)
run()

1284